<h2>My Alunos</h2>

<div>
  <label for="new-aluno">Aluno name: </label>
  <input id="new-aluno" #alunoName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(alunoName.value); alunoName.value=''">
    Add aluno
  </button>
</div>

<ul class="alunos">
  <li *ngFor="let aluno of alunos">
    <a routerLink="/detail/{{aluno.id}}">
      <span class="badge">{{aluno.id}}</span> {{aluno.name}}
    </a>
    <button class="delete" title="delete aluno"
      (click)="delete(aluno)">x</button>
  </li>
</ul>
