<div *ngIf="student">
  <h2>{{student.name | uppercase}} Details</h2>
  <div><span>id: </span>{{student.id}}</div>
  <div>
    <label for="student-name">Student name: </label>
    <input id="student-name" [(ngModel)]="student.name" placeholder="Student name"/>
  </div>
  <div>
    <label for="student-name">Student sex: </label>
    <input id="student-name" [(ngModel)]="student.sex" placeholder="Student sex"/>
  </div>
  <div>
    <label for="student-name">Student city: </label>
    <input id="student-name" [(ngModel)]="student.city" placeholder="Student city"/>
  </div>
  <div>
    <label for="student-name">Student email: </label>
    <input id="student-name" [(ngModel)]="student.email" placeholder="Student email"/>
  </div>
  <div>
    <label for="student-name">Student course: </label>
    <input id="student-name" [(ngModel)]="student.course" placeholder="Student course"/>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
